*{
    margin-block-start: 0px;
    margin-block-end: 0px;
    box-sizing: border-box;
    font-size: 50px;
    color: aliceblue;
    margin: 5px 0px;  
}
body{
    margin: 0px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;    
    padding: 0px 10px; 
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33vh;
    background-color: brown;    
    margin: 5px 0px;
}
.second{
    display: flex;
    width: 100%;
    height: 64vh;
    margin: 0px; 
}
.third{
    display: flex;
    flex-direction: column;
    width: 70%;    
    height: 64vh;    
}
.third-two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32vh;
    background-color: brown;
}
.fourth{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fourth>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 32vh;
    background-color: brown;
}
.fifth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 62vh;
    background-color: brown;
    margin: 10px 0px 0px 10px;
}

